service: aws-rust

frameworkVersion: "3"

provider:
  name: aws
  description: Rust Serverless Template
  runtime: rust
  region: us-east-1
  versionFunctions: false
  memorySize: 2048
  timeout: 30
  logRetentionInDays: 14
  environment:
    STAGE: ${opt:stage, "dev"}
    LOG_LEVEL: INFO
  httpApi:
    cors: true
    payload: '2.0'

functions:
  # v2 HTTP Api
  pong:
    handler: aws-rust.pong
    events:
    - httpApi:
        method: GET
        path: /api/pong
  # v1 REST Api
  ping:
    handler: aws-rust.ping
    events:
    - http:
        method: GET
        path: /api/ping
        private: true
        cors: true
  # Function Url
  dev-ping:
    handler: aws-rust.dev_ping
    url:
      cors: true

custom:
  rust:
    target: x86_64-unknown-linux-musl
    linker: clang
    dockerless: true

  apiKeys:
    - name: ${opt:stage}-free-tier-key
      usagePlan:
        name: ${opt:stage}-free-tier-key-plan
        description: "Free Tier Plan"
        quota:
          limit: 100
          period: DAY
        throttle:
          burstLimit: 10
          rateLimit: 20
    - name: ${opt:stage}-premium-tier-key
      usagePlan:
        name: ${opt:stage}-premium-tier-key-plan
        description: "Premium Tier Plan"
        quota:
          limit: 1000
          period: DAY
        throttle:
          burstLimit: 100
          rateLimit: 20

plugins:
  - serverless-rust
  - serverless-add-api-key

package:
  individually: true
