service: aws-rust

frameworkVersion: "3"

provider:
  name: aws
  runtime: rust
  region: us-east-1
  versionFunctions: false
  memorySize: 2048
  timeout: 28
  environment:
    STAGE: ${opt:stage, "dev"}
    LOG_LEVEL: INFO
  httpApi:
    cors: true
    payload: '2.0'
    # disableDefaultEndpoint: true

functions:
  pong:
    handler: aws-rust.pong
    # url:
    #   cors: true
    events:
    - httpApi:
        method: GET
        path: /api/pong
  ping:
    handler: aws-rust.ping
    events:
    - httpApi:
        method: GET
        path: /api/ping

plugins:
  - serverless-rust

package:
  individually: true

custom:
  rust:
    target: x86_64-unknown-linux-musl
    linker: clang
    dockerless: true
