name: Deploy Main

on:
  workflow_dispatch:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true
          components: clippy

      - name: install Node.js 16
        uses: actions/setup-node@v3
        with:
          node-version: 16.x

      - name: install Pnpm
        run: |
          npm install -g pnpm
          pnpm -v

      - name: install npm dependencies
        run: pnpm install --frozen-lockfile

      - name: add linux tools
        run: |
          cargo clean
          rustup update
          rustup target add x86_64-unknown-linux-musl
          set -ex
          sudo apt-get update
          sudo apt-get install -y musl-tools

      - name: list rust versions
        run: |
          rustc --version
          cargo --version
          rustup --version
          rustup toolchain list

      # prisma
      - name: prisma generate
        run: cargo prisma generate

      - run: rustup component add clippy

      # lint
      - name: clippy lint
        run: cargo lint

      # check
      - name: cargo check
        run: cargo check --all

      # test
      - name: cargo test
        run: cargo test -- --test-threads=2 --show-output

      - name: deploy prod
        run: |
          set -euxo pipefail
          npx serverless deploy --stage prod --conceal

env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  DATABASE_URL: ${{ secrets.DATABASE_URL }}
