name: Deploy Main

on:
  workflow_dispatch:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: install rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.62.0
          profile: minimal
          override: true
          components: clippy

      # prisma
      - name: prisma generate
        run: cargo prisma generate

      - run: rustup component add clippy

      # lint
      - name: clippy lint
        run: cargo lint

      # check
      - name: cargo check
        run: cargo check --all

      # test
      - name: cargo test
        run: cargo test -- --test-threads=2 --show-output

      # deploy
      - name: list rust version
        run: |
          rustc --version
          cargo --version
          rustup --version
          rustup toolchain list

      - name: use Node.js 16
        uses: actions/setup-node@v3
        with:
          node-version: 16.x

      - name: use Pnpm
        run: |
          npm install -g pnpm
          pnpm -v

      - name: install deps
        run: pnpm install --frozen-lockfile

      - name: add linux tools
        run: |
          rustup target add x86_64-unknown-linux-musl
          set -ex
          sudo apt-get update
          sudo apt-get install -y musl-tools

      - name: deploy prod
        run: |
          set -euxo pipefail
          npx serverless deploy --stage prod --conceal

  # deploy job
  # deploy:
  #   runs-on: ubuntu-latest
  #   needs: [prepare]
  #   steps:
  #     - uses: actions/checkout@v3

  #     - name: install rust
  #       uses: actions-rs/toolchain@v1
  #       with:
  #         toolchain: 1.62.0
  #         profile: minimal
  #         override: true

  #     - name: list rust version
  #       run: |
  #         rustc --version
  #         cargo --version
  #         rustup --version
  #         rustup toolchain list

  #     - name: use Node.js 16
  #       uses: actions/setup-node@v3
  #       with:
  #         node-version: 16.x

  #     - name: use Pnpm
  #       run: |
  #         npm install -g pnpm
  #         pnpm -v

  #     - name: install deps
  #       run: pnpm install --frozen-lockfile

  #     - name: add linux tools
  #       run: |
  #         rustup target add x86_64-unknown-linux-musl
  #         set -ex
  #         sudo apt-get update
  #         sudo apt-get install -y musl-tools

  #     - name: deploy prod
  #       run: |
  #         set -euxo pipefail
  #         npx serverless deploy --stage prod --conceal --silent

env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  DATABASE_URL: ${{ secrets.DATABASE_URL }}
